@charset "utf-8";
/* CSS Document */

body,
td,
th,
p {
  font: 16px/1.2 BlinkMacSystemFont, -apple-system, “Segoe UI”, Roboto,
    Helvetica, Arial, sans-serif;
  color: #333;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #fdfdfd;
  margin: 0;
  position: relative;
}

ul,
li {
  font-size: 10pt;
  color: #333;
}

a {
  color: #ffa94d;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #3397db;
  text-decoration: none;
}

a img {
  border: none 0px #fff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0 0 20px;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

* {
  box-sizing: border-box;
}

#logo-banner {
  height: 80px;
  background-color: #373b40;
  display: flex; /* center everithing by using flexbox */
  align-items: center;
  justify-content: center;
}

#logo {
  /* Display block to remove the default image padding bottom */
  display: block;
  /* Margin top to center the logo to the text */
  margin-top: -5px;
  height: 30px;
}

#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}

#footer {
  background-color: #444;
  color: #b7b7b7;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}

/* ================ Helpers & general ================ */
.skip-link {
  position: absolute;
  top: -50px;
  left: 0;
  background: #fff;
  padding: 10px;
}

.skip-link:focus {
  top: 0;
}

.width-limiter {
  max-width: 650px;
  margin: 0 auto;
}

/* =================== Navigation =================== */
#header .heading-wrap {
  padding: 10px 0;
  background-color: #ecf0f3;
  color: #495057;
  border-bottom: 1px solid #d2d2d2;
}

#header h1 {
  text-align: center;
  font-size: 1.4rem;
  text-transform: capitalize;
  margin: 0;
}

/* ====================== Map ====================== */
#map {
  position: relative;
  height: 400px;
  width: 100%;
  background-color: #ccc;
  transition: height 0.3s ease-out;
  will-change: contents;
  overflow: hidden; /* to keep the background blur effect within this div */
}

#map .load-map-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

#load-map {
  display: flex;
  margin: auto;
  padding: 10px;

  cursor: pointer;
  border: none;
  font-size: inherit;
  font-weight: bold;
  color: #60676e;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

#load-map div {
  will-change: contents;
  margin-top: 10px;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  background-color: #4fa6e8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-options h2 {
  color: white;
  font-size: 1rem;
  line-height: 1;
  margin: 20px 20px;
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-size: 11pt;
  height: 35px;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 10px;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants {
  width: 100%;
  background-color: #333;
}

#restaurants h2 {
  text-align: center;
  font-size: 2.4rem;
  margin-top: 2rem;
  padding: 1rem 0;
  width: 100%;
  color: #f18200;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 3rem;
}

#restaurants-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  list-style: outside none none;
  margin: 2rem auto;
  text-align: center;
}

.restaurants-list-item {
  background-color: #fff;
  font-family: Arial, sans-serif;
  margin: 0.5rem;
  width: calc(100% - 1rem);
}

.restaurant-image {
  margin: 0;
}

.restaurant-img {
  width: 400px;
  height: auto;
}

.restaurant-description {
  display: flex;
  flex-wrap: wrap;
}

.restaurant-name {
  width: 100%;
  color: #000;
  font-family: Arial, sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.8rem;
  text-transform: uppercase;
  text-align: center;
}

.restaurant-description {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: center;
}

.restaurant-neighborhood,
.restaurant-address {
  width: 100%;
  margin: 0.2rem 0;
  text-align: center;
  font-size: 1.5rem;
}

.restaurant-details {
  background-color: rgb(35, 104, 150);
  border-bottom: 3px solid #eee;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.restaurant-details:hover,
.restaurant-details:focus {
  background-color: #ffa500;
  color: #fff;
}
#toast {
  width: 100%;
  bottom: 0px;
  position: fixed;
  display: none;
  background-color: #565454;
  opacity: 0.95;
  color: white;
}
